@media (max-width:1024px) {
    .logo img {
        width: 13vw;
        margin: 0 0 0 6.2vw;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 100vw;
        margin: 0 auto;
    }
    nav {
        display: none;
    }
    .hamburger-menu {
        display: block;
        /* Display for tablets */
    }
    .hamburger-icon {
        display: block;
        /* Display hamburger icon for tablets */
    }
    .hamburger-icon,
    .close-icon {
        color: white;
    }
    .close-icon {
        display: none;
        /* Hide close icon initially */
    }
    .menu {
        display: none;
        /* Hide the menu by default */
    }
    .menu.open {
        display: block;
        /* Show the menu when hamburger is clicked */
    }
    .slide_1_mb_img {
        display: flex;
        width: 100%;
        height: 100vh;
    }
    .slide_1_img {
        display: none;
    }
    .menu.open {
        top: 50%;
    }
    .about_us_content_div {
        width: 80vw;
        margin: 50% 0 0 11%;
    }
    .About_us_title h2 {
        font-size: 5vw;
        margin: 15% 0 0 6%;
    }
    .about_us_content_p,
    .extra-content {
        width: 65vw;
        font-size: 2vw;
        margin: 0 5% 0 6%;
    }
    /* Know More Button */
    .about_us_cricket_img img {
        width: 60vw;
        transform: translate(-115%, 5%);
        position: absolute;
    }
    .read_more_img,
    .show_less_img {
        width: 15vw;
        margin: 0 0 0 35%;
    }
    /* Our Team */
    .our_teamp_upper_part {
        margin: 8% 0 5% 5%;
    }
    .our_teamp_upper_part img {
        width: 95vw;
    }
    .ourteam_lower_div {
        margin: 0 0 0 2.5%;
    }
    .ourteam_lower_div img {
        width: 95vw;
    }
    /* why choose us */
    .why_choose_academy_div {
        background-position: 50% 65%;
        background-size: 70vw;
        padding: 0 0 0 1%;
    }
    .why_choose_academy_title span {
        font-size: 5.25vw;
        margin: 0 0 0 7%;
    }
    .why_choose_academy_description {
        font-size: 1.5vw;
        margin: 1% 0 3% -2%;
    }
    .why_choose_uppper_two,
    .why_choose_middle_two {
        display: flex;
    }
    .why_choose_lower {
        margin: 0 0 0 2%;
    }
    .choose_img_1_div img,
    .choose_img_2_div img,
    .choose_img_3_div img,
    .choose_img_4_div img {
        width: 47vw;
        margin: 0;
    }
    .choose_img_5_div img {
        width: 47vw;
        margin: 0 0 7% 25%;
    }
    .our_facilities_img_div {
        margin: 7% 0 0 6vw;
        /* Adjust margins as needed */
    }
    .map1_img {
        display: flex;
    }
    .map_img {
        display: none;
    }
    /* Contact us */
    .contact_us_title {
        margin: 10% 0 0 2.5%;
    }
    .contact_us_title span {
        font-size: 7vw;
    }
    .name_div input,
    .Email_div input,
    .message_div input {
        width: 33vw;
        padding: 2% 1% 1.55% 3%;
        border-radius: 1vw;
        margin: 1.5% 0 0 3%;
        font-size: 2vw;
    }
    #howDidYouHear {
        width: 37vw;
        padding: 2.50% 1% 2.25% 3%;
        border-radius: 1vw;
        margin: 1.5% 0 0 3%;
        font-size: 2vw;
    }
    .social_media_icons_contact_us_div {
        display: flex;
        margin: 2.5% 0 0 4%;
    }
    .social_media_icons_contact_us_div div {
        margin: 2% 2.5% 0 0;
    }
    .facebook_contact_div img {
        width: 5vw;
    }
    .Instagram_contact_div img,
    .twitter_contact_div img {
        width: 5.25vw;
    }
    .contact_us_right_div {
        position: absolute;
        transform: translateY(-128%);
        left: 42.5%;
    }
    .contact_us_right_div img {
        width: 55vw;
    }
    .footer_div {
        display: none;
    }
    .footer_div_tab {
        display: block;
    }
    .footer_sub_div {
        padding: 0 0 5% 0;
        display: block;
    }
    .Logo_title img {
        width: 18vw;
        margin: 0 0 0 3%;
    }
    /* Column 1 Description */
    .column_1_description {
        width: 70vw;
        margin: -2% 0 0 4.25%;
    }
    .column_1_description span {
        font-size: 1.55vw;
    }
    /* Subscribe */
    .subscribe_email_input {
        margin: -1% 7% 0 4.25%;
    }
    .subscribe_email_input input {
        width: 63.5vw;
        background-color: transparent;
        border-radius: 0.45vw;
        font-size: 1.7vw;
        color: white;
        border: 0.15vw solid #E55427;
        padding: 2.5% 5% 2% 5%;
    }
    .subscribe_button {
        margin: -1% 0 1% 0;
    }
    .subscribe_button button {
        width: 19vw;
        background-color: transparent;
        border: 0.15vw solid #E55427;
        border-radius: 0.45vw;
        font-size: 1.7vw;
        color: white;
        padding: 7.5% 0 7.5% 2%;
        cursor: pointer;
    }
    .column_footer_bottom_description {
        width: 80vw;
        margin: -3% 0 10% 4.25%;
        line-height: 1;
    }
    .column_footer_bottom_description span {
        color: white;
        font-size: 1vw;
    }
    .footer_lower_div {
        display: flex;
    }
    /* Columns 2 About Us */
    .column_2 {
        margin: 0 0 0 4.25%;
    }
    .column_2_title span {
        font-size: 2vw;
    }
    .column_2_ul ul {
        margin: 15% 0 0 0;
        padding: 0;
    }
    .column_2_list a {
        font-size: 1.25vw;
    }
    .column_2_faq {
        margin: 0 0 10% 0;
    }
    /* Column 3 */
    .column_3 {
        margin: 0 0 0 10%;
    }
    .column_3_title span {
        color: #E55427;
        font-size: 2vw;
        font-weight: 550;
    }
    .column_3_ul ul {
        margin: 10% 0 0 0;
    }
    .column_3_list a {
        font-size: 1.25vw;
    }
    .column_3_faq {
        margin: 0 0 10% 0;
    }
    /* Column 4 */
    .column_4 {
        margin: 0 0 0 10%;
    }
    .column_4_title span {
        font-size: 2vw;
    }
    .column_4_ul ul {
        margin: 15% 0 0 0;
        padding: 0;
    }
    .column_4_list img {
        color: white;
        text-decoration: none;
        font-size: 2vw;
        cursor: pointer;
    }
    .facebook_footer,
    .instagram_footer,
    .linkedin_footer {
        width: 10.5vw;
    }
    .youtube_footer {
        width: 10vw;
        margin: 0 0 6% 6%;
    }
    .twitter_footer {
        width: 10vw;
    }
    .column_4_faq {
        margin: 0 0 13% 0;
    }
    /* Footer Rights */
    .footer_rights_lower {
        margin: 1% 0 0 5%;
        width: 65vw;
        justify-content: right;
    }
    .privacy_policy {
        margin: 0 0 0 2%;
    }
    .privacy_policy a {
        font-size: 1.25vw;
        color: white;
    }
    .footer_description_lower {
        color: white;
        width: 25vw;
        font-size: 1.25vw;
        margin: 1% 0 0 0;
    }
    .submit input {
        width: 20vw;
        padding: 1.5% 1% 1% 1%;
        border-radius: 0.75vw;
        margin: 3% 0 0 3.2%;
        font-size: 2vw;
    }
}

@media (max-width:600px) {
    .logo img {
        width: 20vw;
        margin: 0 0 0 6.2vw;
    }
    .register-button {
        top: 80%;
        left: 50.5%;
        transform: translate(-50%, -50%);
        padding: 2vw 5vw;
        background-color: #FFF;
        color: #E55427;
        font-weight: 600;
        text-decoration: none;
        font-family: 'oxanium';
        border-radius: 1vw;
        font-size: 4vw;
        transition: background-color 0.3s ease;
    }
    .logo_mbl {
        display: block;
    }
    .logo_dsk {
        display: none;
    }
    .menu ul {
        height: 100vh;
        margin: 7% 0 0 0;
        padding: 5% 0 0 0;
    }
    .slide_1_mb_img,
    .slide_2_img,
    .slide_3_img {
        display: none;
    }
    .slide_1_mbl_img,
    .slide_2_img_mbl,
    .slide_3_img_mlb {
        display: block;
        width: 100%;
        height: 100vh;
    }
    .menu ul li a {
        font-size: 6vw;
    }
    /* About Us */
    .About_us_title {
        width: 50vw;
        transform: translate(47%, -135%);
        position: absolute;
    }
    .About_us_title h2 {
        font-size: 10vw;
        font-family: 'Oxanium';
        color: white;
    }
    .abt_us_cntnt {
        transform: translate(7%, 0%);
        position: absolute;
        margin: 100% 0 0 0;
    }
    .about_us_cricket_img img {
        width: 90vw;
        transform: translate(-19.5%, 30%);
        position: absolute;
    }
    .about_us_content_div {
        width: 25vw;
        margin: 25% 0 0 0;
        padding: 0 0 0 2%;
        background-color: white;
        border-radius: 1vw 0 0 1vw;
    }
    .about_us_content_p,
    .extra-content {
        width: 85vw;
        font-size: 4vw;
        color: white;
        text-align: center;
        font-family: 'Dm Sans';
        margin: 0 0 2% 0;
    }
    /* Know More Button */
    #know-more-btn,
    #show-less-btn {
        padding: 0;
        border: none;
        margin: 3% 0 3% -1%;
        transform: translate(55%, 30%);
    }
    .show-less-btn {
        display: none;
    }
    .extra-content {
        display: none;
    }
    .read_more_img,
    .show_less_img {
        width: 30vw;
    }
    /* Quotation */
    .quotation_div {
        margin: 205% 0 0 0;
        padding: 1% 0 1% 16.5%;
        font-size: 4vw;
    }
    .dsk_quotation {
        display: none;
    }
    .mbl_quotation {
        display: block;
    }
    .mbl_2_txt {
        margin: 0 0 0 6.5%;
    }
    .mbl_3_txt {
        margin: 0 0 0 8.5%;
    }
    .ourteam_sub_div_mbl {
        display: block;
    }
    .ourteam_sub_div {
        display: none;
    }
    /* Our Team */
    .our_teamp_upper_part {
        margin: 8% 0 5% 0;
    }
    .our_teamp_upper_part img {
        width: 95vw;
    }
    .ourteam_lower_div {
        margin: 0 0 0 5%;
    }
    .ourteam_lower_div img {
        width: 95vw;
    }
    /* Why Choose Academy */
    .why_choose_academy {
        display: none;
    }
    .why_choose_academy_mbl {
        display: block;
    }
    .why_choose_academy_mbl_sub_div {
        background-color: #000000;
        background-image: url('Images/bacground\ academy.svg');
        background-position: 60% 25%;
        background-repeat: no-repeat;
        background-size: 90vw;
        font-family: 'Oxanium';
        padding: 0 0 0 1%;
    }
    .why_choose_academy_upper_title_mbl {
        color: #E55427;
        font-size: 8vw;
        font-family: 'Oxanium';
        padding: 8% 0 0 20%;
        margin: 5% 0 0 0;
        font-weight: 550;
    }
    .crck_acdmy_txt {
        margin: 0 0 0 -2%;
    }
    .why_choose_academy_description_mbl {
        color: white;
        font-family: 'poppins';
        font-size: 3vw;
        margin: 3% 0 3% 0;
        text-align: center;
    }
    .existing-container {
        position: relative;
        /* Full viewport width */
        /* Full viewport height */
        overflow: hidden;
        margin: 0 0 0 0;
    }
    .existing-slider {
        display: flex;
        margin: -30% 0 0 0;
        /* Full width of container */
        /* Full height of container */
        transition: transform 0.5s ease;
    }
    .existing-slide {
        margin: 0 0 0 18%;
    }
    .existing-slide img {
        width: 65vw;
        height: 100vh;
        object-fit: contain;
        /* Ensure images cover the entire slide */
    }
    .existing-arrow {
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        width: 5vw;
        /* Adjust arrow width as a percentage of viewport width */
        height: 5vh;
        /* Adjust arrow height as a percentage of viewport height */
        background-color: transparent;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        font-size: 3vw;
        /* Adjust icon size relative to viewport width */
        color: white;
        /* Icon color */
    }
    .existing-arrow.prev {
        left: 2vw;
        /* Adjust left arrow position */
    }
    .existing-arrow.next {
        right: 2vw;
        /* Adjust right arrow position */
    }
    .our_facilities_title {
        margin: 15% 0 15% 0;
    }
    .our_facilities_title span {
        background-color: #000000;
        font-size: 8vw;
        font-weight: 450;
        color: #E55427;
        font-family: 'Oxanium';
        padding: 3% 8% 3% 15%;
        border-radius: 0 3vw 3vw 0;
    }
    .image img {
        width: 81vw;
        /* Adjust image width as needed */
        display: block;
        border-radius: 3vw;
        margin: 0 0 0 3vw;
        /* Adjust border radius as needed */
    }
    .wrapper {
        display: flex;
        width: 85vw;
        overflow: hidden;
    }
    .image img:hover {
        width: 81vw;
        /* Adjust image width as needed */
        display: block;
        border-radius: 3vw;
        margin: 0 0 0 3vw;
        /* Adjust border radius as needed */
    }
    .custom-arrow.next span {
        font-size: 7vw;
        margin-left: -50%;
    }
    /* Contact Us */
    .contact_left_div_mbl {
        display: block;
    }
    .contact_left_div {
        display: none;
    }
    .contact_us_title {
        text-align: center;
        margin: 10% 0 0 0;
    }
    .contact_us_title span {
        font-size: 8vw;
        color: white;
    }
    .map1_img {
        width: 70vw;
        margin: 5% 0 0 15.5%;
    }
    .name_div input,
    .Email_div input,
    .message_div input {
        width: 77vw;
        padding: 3% 1% 2.75% 5%;
        border-radius: 2vw;
        margin: 5% 0 0 9.25%;
        font-size: 4vw;
    }
    #howDidYouHear {
        width: 83vw;
        cursor: pointer;
        padding: 3.25% 5% 2.75% 5%;
        border-radius: 2vw;
        margin: 5% 0 0 9.25%;
        border: none;
        font-size: 4vw;
        background-color: white;
        background-size: 2.5vw;
        background-position: calc(100% - 3vw) center;
    }
    .social_media_icons_contact_us_div {
        justify-content: center;
        margin: 3.5% 0 0 0;
    }
    .facebook_contact_div img {
        width: 8vw;
    }
    .Instagram_contact_div img,
    .twitter_contact_div img {
        width: 8.45vw;
        margin: 0 0 5% 0;
    }
    .footer_div_mbl {
        display: block;
    }
    .footer_div_tab {
        display: none;
    }
    /* Footer */
    .footer {
        background-color: white;
    }
    .Logo_title {
        text-align: center;
    }
    .Logo_title img {
        width: 35vw;
        margin: 0;
    }
    /* Columns 2 About Us */
    .column_2 {
        text-align: center;
        margin: 3% 0 0 0;
    }
    .column_2_title span {
        font-size: 5vw;
        font-weight: 500;
    }
    .column_2_ul ul {
        margin: 3% 0 0 0;
        padding: 0;
    }
    .column_2_list a {
        color: black;
        font-weight: 550;
        font-family: "DM Sans", sans-serif;
        font-size: 3vw;
    }
    .column_2_faq {
        margin: 0 0 1% 0;
    }
    .facebook_footer,
    .instagram_footer,
    .linkedin_footer {
        width: 20.5vw;
        margin: 2% 0 0 0;
    }
    .column_4_faq {
        margin: 0;
    }
    .twitter_footer {
        width: 20.5vw;
        margin: 1% 0 0 0;
    }
    .column_4_title {
        margin: 5% 0 0 0;
    }
    .column_4_title span {
        font-size: 4.5vw;
        font-weight: 500;
    }
    .column_4_ul ul {
        margin: 3% 0 0 0;
        padding: 0;
    }
    .footer_rights_lower {
        margin: 1% 0 0 5%;
        width: 100vw;
        justify-content: center;
        text-align: center;
    }
    .privacy_policy {
        margin: 0;
    }
    .privacy_policy a {
        font-size: 3vw;
        color: black;
    }
    .footer_description_lower {
        color: black;
        font-size: 1.25vw;
        text-align: center;
        margin: 1% 0 0 8%;
        width: 75vw;
    }
    .footer_description_lower span {
        font-size: 2vw;
    }
    .custom-arrow.next:hover {
        background-color: transparent;
        margin: 0;
        padding: 0;
    }
}